[data-accordion="ativo"] {
  display: block;
  animation: down-accordion 1s forwards;
}

[data-accordion=""] {
  display: none;
}

[data-accordion-boolean="true"] {
  cursor: pointer;
}

@keyframes down-accordion {
  from {
    opacity: 0.8;
    transform: translate3d(-10px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
