<!--Contato-->
<section class="caixa-titulo-secao">
  <h1 data-accordion-boolean="true" class="titulo-contato" id="contato">
    Contato
  </h1>
</section>
<section class="contato">
  <div class="box-960 justify-center smaller-960">
    <!-- <div class="formulario flex column"> -->
      <form class="formulario flex column" action="https://formcarry.com/s/xZR1pRk9Bz6" method="POST" accept-charset="UTF-8" >
        <label for="nome">Nome</label>
        <input name="nome" type="text" id="nome" />
        <label class="pt-15" for="email">e-mail</label>
        <input name="email" type="email" id="email" />
        <label class="pt-15" for="telefone">Telefone</label>
        <input name="telefone" type="number" id="telefone" />
        <label class="pt-15" for="mensagem">Mensagem</label>
        <textarea name="mensagem" id="mensagem" cols="30" rows="10"></textarea>
        <button name="botao" type="submit">Enviar</button>
        <input type="hidden" name="_gotcha"><!-- use this to prevent spam -->
      </form>
   <!--  </div> -->
    <div class="texto-contato flex-1 pl-30">
      <p class="formacao pb-35 pt-30">
        Está disponível para novos desafios na área de
        <strong>front-end</strong>, assim como para <strong>freelas</strong> na
        mesma área.
      </p>
      <p class="formacao pb-35">Espera a oportunidade certa para abraçar.</p>
      <p class="formacao pb-35">
        Mora na cidade de <strong>Curitiba/PR</strong>, mas não descarta um
        <strong>job remoto!</strong>
      </p>
      <p class="formacao pb-35">
        Visite as <strong>redes sociais</strong>, caso ainda tenha alguma dúvida
        com relação à  cursos e competências profissionais...
      </p>
      <p class="formacao pb-35">
        Fique a vontade de entrar em contato, tirando outras dúvidas, e, quem
        sabe convidando-o para um café.
      </p>
      <p class="formacao">Afinal, café e códigos têm tudo a ver.</p>
    </div>
  </div>
</section>
<!--Fim de Contato-->