<!-- Footer -->
<footer class="footer">
  <div class="box-960 flex justify-between items-center mobile-footer">
    <div class="logo flex items-center">
      <img src="./img/logo-footer.svg" alt="Logo do footer" />
      <a href="index.html">emersonleite.dev</a>
    </div>
    <p class="direito">nenhum direito reservado</p>
    <ul class="flex social">
      {% for social in site.data.social %}
      <li>
        <a href="{{social.href}}" target="_blank"
          ><img class="social-image" src="./img/{{social.img}}" alt="{{social.name}}"
        /></a>
      </li>
      {% endfor %}
    </ul>
  </div>
</footer>
<!-- Fim de Footer -->

