    <!--Header-->
    <header class="header">
      <div class="box-960 pt-10 justify-between self-center">
        <a class="logo" href="/"><img src="./img/logo.svg" alt="logo Emerson"/></a>
        <nav>
          <ul class="flex wrap mobile-header self-center">
            <li><a href="posts">posts</a></li>
            <li><a href="#">video-currículo</a></li>
            <li><a href="/#portfolio">portfólio</a></li>
            <li><a href="/#certificados">certificados</a></li>
            <li><a href="/#contato">contato</a></li>
            <li><div class="cheat-sheet"><a aria-label="CRTL + ALT + D..." href="/#doc">cheat sheet</a></div></li>
          </ul>
        </nav>
      </div>
    </header>
    <!--Fim de Header-->