<!--Head-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <meta name="description" content="Site em constante desenvolvimento de Emerson Leite" />

  <meta property="og:type" content="website"/>
  <meta property="og:title" content="emersonleite.dev"/>
  <meta property="og:description" content="Site em constante desenvolvimento de Emerson Leite"/>
  <meta property="og:url" content="http://teste.com"/>
  <meta property="og:image" content="img/Foto.png"/>

  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
  <!-- <link rel="shortcut icon" href="favicon.ico"/> -->
  <link rel="stylesheet" type="text/css" href="../css/style.css"/>
  <link rel="stylesheet"  type="text/css" href="../css/custom.css"/>

  <title>Desenvolvedor Emerson Leite</title>
</head>
<!--Fim de Head-->