<!--Portfólio-->
<!-- <section class="caixa-titulo-secao portfolio">
  <h1 data-accordion-boolean="true" class="titulo-portfolio" id="portfolio">
    Portfólio
  </h1>
</section>
<section class="portfolio pb-30">
  <div class="box-960 lista-portfolio">
    <div class="row-960">
      <ul class="flex justify-center wrap">
        <li>
          <a href="#"><img src="img/bikcraft.png" alt="Bikcraft"/></a>
          <h2>Bikcraft</h2>
        </li>
        <li>
          <a href="#"><img src="img/brafe-1.PNG" alt="Brafe I"/></a>
          <h2>Brafe I</h2>
        </li>
        <li>
          <a href="#"><img src="img/brafe-2.PNG" alt="Brafe II"/></a>
          <h2>Brafe II</h2>
        </li>
        <li>
          <a href="#"><img src="img/brafe-3.PNG" alt="Brafe III"/></a>
          <h2>Brafe III</h2>
        </li>
        <li>
          <a href="#"><img src="img/flexblog.PNG" alt="Flexblog"/></a>
          <h2>Flexblog</h2>
        </li>
        <li>
          <a href="#"><img src="img/emerson.PNG" alt="Emerson"/></a>
          <h2>Emerson</h2>
        </li>
        <li>
          <a href="#"><img src="img/unna.PNG" alt="Unna"/></a>
          <h2>Unna</h2>
        </li>
      </ul>
    </div>
  </div>
</section> -->
<!--Fim de Portfólio-->

<!--Portfólio-->
<section class="caixa-titulo-secao portfolio">
  <h1 data-accordion-boolean="true" class="titulo-portfolio" id="portfolio">
    Portfólio
  </h1>
</section>
<section class="portfolio pb-30">
  <div class="box-960 lista-portfolio">
    <div class="row-960">
      <ul class="flex justify-center wrap">
        {% for portfolio in site.data.portfolio %}
        <li>
          <a href="{{portfolio.href}}" target="_blank"
            ><img src="img/{{portfolio.img}}" alt="{{portfolio.name}}"
          /></a>
          <h2>{{portfolio.name}}</h2>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
