<!--Sobre-->
<section class="sobre">
  <h1 class="titulo-sobre">sobre mim</h1>
  <div class="box-960 justify-center smaller-960">
    <div class='div-foto'>
      <img src="img/Foto.png" aria-label="Olá, esse sou eu !... &#128540" alt="" />
    </div>
    <div class="flex-1 pl-20 flex-1-220">
      <h2 class="pt-10 mb-30">Formação</h2>
      <article>
      <p class="formacao pb-50 ">
        Engenheiro de formação, porém apaixonado por tecnologia e pela web.
        Descobriu há alguns anos os códigos e está procurando um transição
        saudável para a área de TI. Tem conhecimentos intermediários em <strong>html</strong>, <strong>css</strong> e
        <strong>javascript</strong>. Nada que o impeça de saltos mais altos,
        uma vez que tem curiosidade e vontade de aprender.
      </p>
      <p class="formacao">
        Atualmente está se especializando com diversos cursos na área de
        desenvolvimento <strong>front-end</strong> e
        <strong>UI design</strong>, e escreve, quando possível, sobre esses
        temas na seção <a href="posts">posts</a>, de uma forma descontraída e, necessariamente,
        didática.
      </article>
      </p>
    </div>
  </div>
</section>
<!--Fim de Sobre-->