/*----- Footer -----*/

.footer {
  background: #252525;
  padding: 15px 0;
  border-top: 3px solid #cda112;
}

.footer .box-960 .logo a {
  color: #cda112;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.125em;
  padding-left: 19px;
}

.footer .box-960 .logo a:hover {
  color: white;
  text-decoration: none;
}

.footer .box-960 p {
  color: #cda112;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.125em;
}

.social li {
  padding-left: 15px;
}

/*----- Fim do Footer -----*/
