/*----- Header -----*/
iframe {
  margin-top: 50px;
}

.header {
  background: #252525;
  border-bottom: 4px solid #cda112;
  /*position: fixed;
  height: 95px;
  /*top: 0;
  width: 100%;*/
}

.header nav ul li {
  font-family: "Hammersmith One", sans-serif;
  text-transform: capitalize;
  font-size: 1.125em;
}

.header nav ul li a[href='/#doc']{
  font-family: 'Dancing Script', cursive;
  font-size: 1.4em;
  text-transform: lowercase;
  padding-bottom: 28px;
  padding-top: 12px;
  color: #cda112;
}

.header nav ul li a:hover[href='/#doc']{
  color: white;
}

.header nav ul li a {
  color: #fff;
}

.header nav ul li a:hover {
  color: #cda112;
  text-decoration: none;
  /*font-weight: bolder;*/
}

.header nav ul li {
  padding-left: 20px;
}

.header nav ul li a {
  display: block;
  padding: 20px 0px;
}

.header img {
  width: 65px;
  height: 65px;
  align-self: flex-start;
}

/*----- Fim de Header -----*/
