@media (max-width: 995px) {
  .flex.social {
    margin-right: 20px;
  }

  .logo.flex {
    margin-left: 20px;
  }
}

@media (max-width: 750px) {
  .flex.social {
    flex-basis: 250px;
    margin-top: 20px;
    margin: 0 auto;
  }

  .logo.flex {
    flex-basis: 250px;
  }

  .direito {
    flex-basis: 250px;
  }
}

@media (max-width: 520px) {
  .mobile-footer {
    flex-direction: column;
    justify-content: center;
  }

  .logo.flex {
    flex-basis: 45px;
    margin: 0 auto 15px auto;
  }

  .flex.social {
    flex-basis: 45px;
  }

  .direito {
    flex-basis: 45px;
  }
}
